*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
font-family:Arial, Helvetica, sans-serif;
}

body{
/* background:#0f172a; 
color:white; */
/* background: linear-gradient(135deg,#020617,#0f172a,#1e3a8a); */
background: linear-gradient(135deg,#020617,#1e1b4b,#312e81);
color: white;

}

body.light{
/* background:#7399be;
color:#0f172a; */
background: linear-gradient(135deg,#93c5fd,#3b82f6);
color: #0f172a;
}

.section{
padding:100px 10%;
text-align:center;
}

.glass{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
border-radius:12px;
border:1px solid rgba(255,255,255,0.1);
}